
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    background-color: #fff9f0; 
    color: #333;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: transparent;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    text-decoration: none; 
      color: #555;
    font-weight: 500;  */
}

/* nav ul li a.active {
    color: #ff8c00;
} */

.login-btn {
    background-color: #ff8c00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 8%;
    min-height: 80vh;
}
 
.hero-content {
    flex: 1;
    max-width: 500px;
} 

.subtitle {
    color: #ff8c00;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 0.9rem;
}

.hero-content h1 {
    font-size: 3rem;
    margin: 15px 0;
    color: #ff8c00;
    line-height: 1.2;
}

.hero-content p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 30px;
}


.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 100%;
    height: auto;
}



